<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11084919.musicplayerdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/airan_launch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/airan_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11580804" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="PzTHtXA7PDyefoe73d6W00Ut" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="VKtam94n2cvA91NBErlRkOcYq39Bd5GF" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="音乐播放"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicListActivity"
            android:label="播放列表"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".play.PlayService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.github.ryanhoo.music.ACTION.PLAY_TOGGLE" />
                <action android:name="io.github.ryanhoo.music.ACTION.PLAY_NEXT" />
                <action android:name="io.github.ryanhoo.music.ACTION.PLAY_LAST" />
                <action android:name="io.github.ryanhoo.music.ACTION.STOP_SERVICE" />
            </intent-filter>
        </service>


    </application>

</manifest>